    /*
    Flaticon icon font: Flaticon
    Creation date: 13/06/2020 23:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-umbrella:before { content: "\f100"; }
.flaticon-production:before { content: "\f101"; }
.flaticon-fabric:before { content: "\f102"; }
.flaticon-floor:before { content: "\f103"; }
.flaticon-floor-1:before { content: "\f104"; }
.flaticon-floor-2:before { content: "\f105"; }
.flaticon-floor-3:before { content: "\f106"; }
.flaticon-floor-scrubber:before { content: "\f107"; }
.flaticon-floor-4:before { content: "\f108"; }
.flaticon-project:before { content: "\f109"; }
.flaticon-pattern:before { content: "\f10a"; }
.flaticon-mop:before { content: "\f10b"; }
.flaticon-vegetable-oil:before { content: "\f10c"; }
.flaticon-goods:before { content: "\f10d"; }
.flaticon-ink:before { content: "\f10e"; }
.flaticon-barrel:before { content: "\f10f"; }
.flaticon-industry:before { content: "\f110"; }
.flaticon-bridge:before { content: "\f111"; }
.flaticon-maintenance:before { content: "\f112"; }
.flaticon-civil:before { content: "\f113"; }
.flaticon-crack:before { content: "\f114"; }
.flaticon-crack-1:before { content: "\f115"; }
.flaticon-durable:before { content: "\f116"; }
.flaticon-clean:before { content: "\f117"; }
.flaticon-ecology-and-environment:before { content: "\f118"; }
.flaticon-resistant:before { content: "\f119"; }
.flaticon-fall:before { content: "\f11a"; }
.flaticon-antistatic:before { content: "\f11b"; }
.flaticon-furniture:before { content: "\f11c"; }
.flaticon-security:before { content: "\f11d"; }
.flaticon-need:before { content: "\f11e"; }
.flaticon-vacuum-cleaner:before { content: "\f11f"; }
.flaticon-efficiency:before { content: "\f120"; }
.flaticon-concept:before { content: "\f121"; }
.flaticon-green:before { content: "\f122"; }
.flaticon-medal:before { content: "\f123"; }
.flaticon-quality:before { content: "\f124"; }
.flaticon-clock:before { content: "\f125"; }
.flaticon-clean-1:before { content: "\f126"; }
.flaticon-trust:before { content: "\f127"; }
.flaticon-checklist:before { content: "\f128"; }
.flaticon-global:before { content: "\f129"; }
.flaticon-profit:before { content: "\f12a"; }
.flaticon-family:before { content: "\f12b"; }
.flaticon-home-insurance:before { content: "\f12c"; }
.flaticon-heart:before { content: "\f12d"; }
.flaticon-advice:before { content: "\f12e"; }
.flaticon-heavy-duty:before { content: "\f12f"; }
.flaticon-river:before { content: "\f130"; }
.flaticon-security-1:before { content: "\f131"; }
.flaticon-money:before { content: "\f132"; }
.flaticon-technician:before { content: "\f133"; }
.flaticon-maintenance-1:before { content: "\f134"; }
.flaticon-technician-1:before { content: "\f135"; }
.flaticon-renovation:before { content: "\f136"; }
.flaticon-room:before { content: "\f137"; }
.flaticon-function:before { content: "\f138"; }
.flaticon-health:before { content: "\f139"; }
.flaticon-calendar:before { content: "\f13a"; }
.flaticon-leader:before { content: "\f13b"; }
.flaticon-wax:before { content: "\f13c"; }
.flaticon-water-resistant:before { content: "\f13d"; }
    
    $font-Flaticon-umbrella: "\f100";
    $font-Flaticon-production: "\f101";
    $font-Flaticon-fabric: "\f102";
    $font-Flaticon-floor: "\f103";
    $font-Flaticon-floor-1: "\f104";
    $font-Flaticon-floor-2: "\f105";
    $font-Flaticon-floor-3: "\f106";
    $font-Flaticon-floor-scrubber: "\f107";
    $font-Flaticon-floor-4: "\f108";
    $font-Flaticon-project: "\f109";
    $font-Flaticon-pattern: "\f10a";
    $font-Flaticon-mop: "\f10b";
    $font-Flaticon-vegetable-oil: "\f10c";
    $font-Flaticon-goods: "\f10d";
    $font-Flaticon-ink: "\f10e";
    $font-Flaticon-barrel: "\f10f";
    $font-Flaticon-industry: "\f110";
    $font-Flaticon-bridge: "\f111";
    $font-Flaticon-maintenance: "\f112";
    $font-Flaticon-civil: "\f113";
    $font-Flaticon-crack: "\f114";
    $font-Flaticon-crack-1: "\f115";
    $font-Flaticon-durable: "\f116";
    $font-Flaticon-clean: "\f117";
    $font-Flaticon-ecology-and-environment: "\f118";
    $font-Flaticon-resistant: "\f119";
    $font-Flaticon-fall: "\f11a";
    $font-Flaticon-antistatic: "\f11b";
    $font-Flaticon-furniture: "\f11c";
    $font-Flaticon-security: "\f11d";
    $font-Flaticon-need: "\f11e";
    $font-Flaticon-vacuum-cleaner: "\f11f";
    $font-Flaticon-efficiency: "\f120";
    $font-Flaticon-concept: "\f121";
    $font-Flaticon-green: "\f122";
    $font-Flaticon-medal: "\f123";
    $font-Flaticon-quality: "\f124";
    $font-Flaticon-clock: "\f125";
    $font-Flaticon-clean-1: "\f126";
    $font-Flaticon-trust: "\f127";
    $font-Flaticon-checklist: "\f128";
    $font-Flaticon-global: "\f129";
    $font-Flaticon-profit: "\f12a";
    $font-Flaticon-family: "\f12b";
    $font-Flaticon-home-insurance: "\f12c";
    $font-Flaticon-heart: "\f12d";
    $font-Flaticon-advice: "\f12e";
    $font-Flaticon-heavy-duty: "\f12f";
    $font-Flaticon-river: "\f130";
    $font-Flaticon-security-1: "\f131";
    $font-Flaticon-money: "\f132";
    $font-Flaticon-technician: "\f133";
    $font-Flaticon-maintenance-1: "\f134";
    $font-Flaticon-technician-1: "\f135";
    $font-Flaticon-renovation: "\f136";
    $font-Flaticon-room: "\f137";
    $font-Flaticon-function: "\f138";
    $font-Flaticon-health: "\f139";
    $font-Flaticon-calendar: "\f13a";
    $font-Flaticon-leader: "\f13b";
    $font-Flaticon-wax: "\f13c";
    $font-Flaticon-water-resistant: "\f13d";